In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max.rows', 235)
pd.set_option('display.max.columns', 40)

In [7]:
df = pd.read_csv("Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Choclolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.0
5,Pistacho,Vanilla,No,2.3,6.0,12.5
6,Cake Batter,Vanilla,No,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Choclolate Fudge Brownie,Vanilla,Yes,8.2,7.1,15.3

In [13]:
group_by_frame = df.groupby('Base Flavor')

In [17]:
group_by_frame.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         8.500000        7.300000     15.800000
Vanilla           6.057143        6.228571     12.885714

In [18]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         2      2              2               2             2
Vanilla           7      7              7               7             7

In [19]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate     Choclolate   Yes            8.2             7.0          15.0
Vanilla      Cake Batter    No            2.3             5.0           8.8

In [20]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [21]:
df.groupby('Base Flavor').sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChoclolateRocky Road,YesYes,17.0,14.6,31.6
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistacho...,YesNoYesNoNoNoYes,42.4,43.6,90.2

In [27]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'max', 'count', 'sum'], 'Texture Rating': ['mean', 'max', 'count', 'sum']})

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate        8.500000   8.8     2  17.0       7.300000  7.6     2  14.6
Vanilla          6.057143  10.0     7  42.4       6.228571  8.0     7  43.6

In [28]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Choclolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.0
5,Pistacho,Vanilla,No,2.3,6.0,12.5
6,Cake Batter,Vanilla,No,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Choclolate Fudge Brownie,Vanilla,Yes,8.2,7.1,15.3

In [34]:
df.groupby(['Base Flavor', 'Liked']).agg({'Flavor Rating': ['mean', 'max', 'count', 'sum'], 'Texture Rating': ['mean', 'max', 'count', 'sum']})

                  Flavor Rating                   Texture Rating             \
                           mean   max count   sum           mean  max count
Base Flavor Liked
Chocolate   Yes        8.500000   8.8     2  17.0            7.3  7.6     2
Vanilla     No         4.325000   6.5     4  17.3            5.5  6.0     4
            Yes        8.366667  10.0     3  25.1            7.2  8.0     3


                    sum
Base Flavor Liked
Chocolate   Yes    14.6
Vanilla     No     22.0
            Yes    21.6

In [35]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                                  \
                    count      mean       std  min   25%  50%   75%   max
Base Flavor
Chocolate             2.0  8.500000  0.424264  8.2  8.35  8.5  8.65   8.8
Vanilla               7.0  6.057143  2.648809  2.3  4.25  6.5  7.55  10.0

            Texture Rating                                                 \
                     count      mean       std  min   25%  50%   75%  max
Base Flavor
Chocolate              2.0  7.300000  0.424264  7.0  7.15  7.3  7.45  7.6
Vanilla                7.0  6.228571  1.087373  5.0  5.50  6.0  6.80  8.0

            Total Rating
                   count       mean       std   min   25%   50%    75%   max
Base Flavor
Chocolate            2.0  15.800000  1.131371  15.0  15.4  15.8  16.20  16.6
Vanilla              7.0  12.885714  3.146124   8.8  11.1  12.5  14.35  18.0